.news {
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 0.3rem;
  &__container {
    display: flex;
    text-align: left;
    @include breakpoint(xs) {
      flex-direction: column;
    }
    &__info {
      width: 100%;
      background-color: $background-hover;
      padding-top: 1.5rem;
      padding-inline: 0.5rem;
      @include breakpoint(md) {
        text-align: center;
        padding-inline: 2.5rem;
        padding-block: 1rem;
      }
    }

    &__title {
      > h4 {
        color: $color-dark;
      }
    }
    &__image {
      > img {
        width: 21.8rem;
        height: 100%;
        object-fit: cover;
        @include breakpoint(sm) {
          width: 100%;
        }
      }
    }
    &__text {
      margin-top: 1rem;
      > p {
        font-weight: $font-light;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &__source {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      > span {
        padding-right: 0.5rem;
        color: $color-dark;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }
    }
    &__tickers {
      > p {
        background-color: $color-dark;
        display: inline-block;
        font-size: 0.8rem;
        padding-block: 0.3rem;
        padding-inline: 0.5rem;
        border-radius: 0.25rem;
        color: $background-white;
      }
    }
    &__name {
      padding-inline: 0.5rem;
      > p {
        color: $color-dark;
        font-weight: 500;
      }
    }
  }
}
