.header {
  padding: 1.25rem 0 3.1rem 0;
  &__container {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    position: relative;
    top: 5px;
    img {
      height: 2.5rem;
    }
  }
  &__list {
    display: flex;
  }
  &__link {
    &:not(:last-child) {
      margin-right: 1.8rem;
    }
    > a {
      font-weight: 400;
      transition: 0.3s ease;

      &:hover {
        color: green;
      }
    }
  }
}
