.content {
  &__container {
    max-width: $lg-width;
    margin: 0 auto;
    @include breakpoint(lg) {
      max-width: 900px;
    }
  }
  &__info {
    padding-bottom: 3.1rem;
    border-bottom: 0.2px solid $border-color;
    > h2 {
      font-size: 1.4rem;
      margin-bottom: 0.6rem;
    }
    > p {
      color: $color-gray;
    }
  }
  &__title {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $background-white;
    &__left {
      display: flex;
      align-items: center;
      > span {
        margin-right: 2.5rem;
      }
      > p {
        font-size: 0.8rem;
        padding-left: 0.5rem;
        font-weight: $font-bold;
      }
    }
    &__list {
      display: flex;
    }
    &__item {
      width: 10rem;
      text-align: right;
      font-weight: $font-bold;
      font-size: 0.8rem;
    }
  }
}
