.content {
  &__container {
    max-width: $lg-width;
    margin: 0 auto;
    @include breakpoint(lg) {
      max-width: 56.25rem;
    }
    @include breakpoint(sm) {
      padding-inline: 2rem;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    @include breakpoint(lg) {
      flex-direction: column;
      text-align: center;
    }

    > h2 {
      font-size: 1.4rem;
      margin-bottom: 0.6rem;
    }
    > p {
      color: $color-gray;
    }
  }
  &__title {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: $background-white;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &__left {
      display: flex;
      align-items: center;
      > span {
        margin-right: 2.5rem;
      }
      > p {
        font-size: 0.8rem;
        padding-left: 0.5rem;
        font-weight: $font-bold;
      }
    }
    &__list {
      display: flex;
    }
    &__item {
      width: 10rem;
      text-align: right;
      font-weight: $font-bold;
      font-size: 0.8rem;
      @include breakpoint(sm) {
        width: 9rem;
      }
    }
  }
  &__scroll {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tracker {
    @include breakpoint(sm) {
      padding-inline: 2rem;
    }
  }
}
